:deep(.el-tabs) {
  &.el-tabs--card {
    .el-tabs__header.is-top {
      .el-tabs__item.is-top {
        border-bottom: none !important;
        // border: none !important;
      }
    }
  }
  .el-tabs__item {
    color: $textBlack;
    &.is-active {
      color: $lightBlue;
    }
  }
}