.slide-fade-enter-active {
  transition: all 0.2s;
}
.slide-fade-leave-active {
  transition: all 0.2s;
}
.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

.up-down-enter-active {
  transition: all 0.2s;
}
.up-down-leave-active {
  transition: all 0.2s;
}
.up-down-enter-from,
.up-down-leave-to {
  transform: translateY(100%);
  // opacity: 0;
}